body{
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

header{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 75%;
}

header p{
	text-align: justify;
}

/***************************/
#board-container{
	display: flex;
	box-sizing: border-box;
	flex-wrap: wrap;
	background-color: rgb(240,240,240);
	align-content: center;
	justify-content: center;
}
#game-container{
	display: flex;
	justify-content: center;
}

#game-board{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-content: flex-start;
}

#left-board{
	flex-direction: column;
	align-items: flex-end;
}

#left-board, #left-board > div{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}

#top-board{
	display: flex;
	flex-wrap: wrap;
}

#top-board > div{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 1px;
}

.box{
	width: 30px;
	height: 30px;
	font-size: 20px;
	text-align: center;
	background-color: rgb(127,127,127);
}

.box-game{
	border: 1px solid black;
}

.box-top, .box-left{ /* only for development purpose*/
	border: 1px solid black;
}

.hint-box{
	width: 30px;
	height: 30px;
	font-size: 20px;
	text-align: center;
	margin: 1px 0px;
}

.red{
	color: #F00;
}