body{
	margin: 0 auto;
}

#container{
	display: flex;
	box-sizing: border-box;
	flex-wrap: wrap;
	/* justify-content: center; */
	width: 360px;
}

#container .box-main{
	width: 30px;
	height: 30px;
	text-align: center;
}

.box-main{
	border: 1px solid black;
	font-size: 20px;
}

.box-left, .box-top{
	display: flex;
	border: 1px solid black;
}

.box-top{
	flex-direction: column-reverse;
}